.createPost_container {
  display: flex;
  justify-content: center;
  max-width: 600px;
  align-items: center;
  margin: auto;
  // border: 2px solid rgb(235, 235, 4);

  .createPost_container_form {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    //   border: 1px solid rgb(54, 54, 15);
    .textArea {
      height: 200px;
      width: 500px;
      box-shadow: 5px 5px 15px 5px #979595;
      margin-top: 20px;
      padding: 1em;
      font-size: 1.3em;
    }
    .createPost_input {
      box-shadow: 5px 5px 15px 5px #515151;
      padding: 0.5em;
      margin-bottom: 10px;
      border: none;
    }
  }
}
