.login_container {
    padding: 2em;
    max-width: 500px;
    background-color: $color_background_nav;
    border-radius: 15px;
    width: 500px;
    height: 400px;
    box-shadow: 5px 5px 15px 5px #000000 ;
    .login_H1 {
        color: $color_text;
    }
    .login_container_form, fieldset {
        display: flex;
        flex-direction: column;
        color: $color_text;
        padding: 1.5em;
        row-gap: 1em;
    }
    input {
        padding: 1em;
    border-radius: 15px;
    cursor: pointer;
    }
    .input_button {
        background-color: rgb(82, 78, 78);
        letter-spacing: 0.3em;
        cursor: pointer;
        border: 1px solid white;
    }
    .input_button:hover {
        transform: scale(1.02);
        border: 1px solid rgb(243, 70, 70);
        
    }
}