@import "./mixins";
@import "./_variables.scss";
@import "./_modalInscription.scss";
@import "./signUp.scss";
@import "./login.scss";
@import "./app.scss";
@import "./creatPost.scss";
@import "./_footer.scss";
@import "./_logo.scss";
@import "./_post.scss";
@import "./_delete.scss";
@import "./_commentPost.scss";
@import "./_commentCard.scss";

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-image: url("../assets/images/body-background.jpg");
  opacity: 0.9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
}

* {
  box-sizing: border-box;

  a {
    text-decoration: none;
    list-style: none;
  }

  li {
    list-style-type: none;
  }
}
